* {
	margin:0;
	padding:0;
}
body {
	/* background:#333333 none repeat-x scroll top left;
	margin:0 auto; */
	padding:50;
	font-size : 15px;
	background-image : url(images/bgpage.gif);
	background-repeat : repeat-x;
	background-color : #000000;
	font-family:Arial, Helvetica, sans-serif;
}


/* wrapper */
div#wrap {
	margin:0 auto;
	width:1150px;
	margin:0 64px 0 64px;
}


/* header & nav */
div.logo {
	margin:0 auto;
	background:#000000;
        margin:0 64px 0 64px;
	width:1150px;
}

div.header {
	margin:0 auto;
	margin:0 0px 0 0px;
	width:1150px;
	padding:0px 0px;
	font-color : #ffffff;
}
div.nav {
	padding:0;

	/* background:#ffffff url('images/nav-bg-right.png') no-repeat scroll bottom right;
	background:#ffffff url('images/navbar1.gif') repeat-y 0 0; */

	font-size : 15px;
	font-color : #ffffff;
	background-image : url(images/bg.jpg);
	background-repeat : repeat-x;
	background-color : #ffffff;
	width:1150px;
	height:70px;

}
div.title {
	padding:50px 20px;
	margin:0 auto;
	background:#FFFFFF url('images/titlebg.png') repeat-x scroll 50% 50%;
	width:65%;
	font-color : #ffffff;

}
div.innernav {
	padding-top:0px;
	margin:0 auto;
	/* background:#ffff00 url('images/nav-bg1.png') repeat-x scroll bottom left; */
	background-image: url('images/navbar.gif') scroll bottom left;

	width:1150px;
	height:70px;


}
div.outernav {
	/*width:90%;*/
	margin:0 auto;
	width:1135px;
	margin:0 0px 0 64px;
	background:#ffff00 url('images/nav-bg-left.png') no-repeat scroll bottom left;
	height:70px;

}



div.innertitle {
	margin:0 auto;
	width:1150px;
	margin:0 64px 0 64px;
	height:75px;
}
div.nav ul {
	list-style:none;
	padding:0 0 0 10px;
	margin:0;
	position:relative;
	width:1070px;
}
div.nav ul li {
	display:inline;
	float:center;
	height:70px;

}
div.nav ul li a, div.nav ul li a:visited {
	float:left;
	margin:0 5px;
	padding:8px 0px 10px 20px;
	height:40px;
	text-decoration:none;
	color:#ffffff;
	font-weight:normal;
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;

}
div.nav ul li a:hover {
	/* background-color:#ff0000;*/
	background-image: url('images/bgpage1.gif') scroll bottom left;
	text-decoration:none;
	font-size:1.1em;
	color:#000000;
	height:40px;
}


/* headers */
h1, h2 {

	color:#fff;
}
h1 {
	font-size:3em;

}
h1 a, h1 a:hover, h1 a:visited {
	text-decoration:none;
	color:#ffffff;
}
h2 {

	font-size:0.9em;

}
h3 {
	font-size:1.5em;
	font-family:'Lucida Sans Unicode','Lucida Grande',verdana,sans-serif;
	font-weight:normal;
	color:#333333;
}
h4 {
	color:#A40000;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.4em;
	font-weight:normal;
	padding:5px 5px 5px 10px;
	border-left:10px solid #A40000;
}


/* element defaults */
p {
	margin-bottom:20px;
	line-height:1.7em;

	font-size:0.95em;	color:#000000;
}
ul {
	padding:0 0 20px 35px;
}
code {
	border:1px solid #0000A4;
	border-left-width:10px;
	display:block;
	padding:10px;
	margin:10px 0;
}

/* default forms */
form {}
form input, form textarea, form checkbox {
	border:2px solid #dddddd;
	padding:5px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.1em;
}
form input.formbutton {
	background:#0000DF url('images/nav-bg.png') repeat-x scroll bottom left;
	color:#ffffff;
	font-size:0.9em;
	border:1px solid #0000A4;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

/* default tables*/
table {
	width:100%;
	margin-bottom:10px;
}
table tr th, table tr td {

}
table tr th {
	background:#666666;
	color:#ffffff;

}
table tr td {
	border-bottom:0px solid #B40404;
}


/* default links*/
a {
	color:#0000ff;
}
a:visited {
	color:#0000A4;
}
a:hover {
	color:#0000DF;
}


/* centeral page */
div.pagewrapper {
	margin:0 auto;
	background:#ffffff url('images/content-bg-right.png') no-repeat scroll top right;

}
div.innerpagewrapper {
	background:#ffffff url('images/content-bg-left.png') no-repeat scroll top left;
	margin:0 11px 0 0;
}
div.page {
	margin:0 0 0 11px;
	background-color:#ffffff;
	padding:10px 10px 0 10px;
}
div.page ul {
	list-style:square;
	font-size:0.95em;
}
div.page ul li {
	padding:3px 0;

}

/*div.innertitle {
	width:90%;
	height:70px;
	margin:0 auto;
	margin: 0 25px 0 168px;
}*/

/* content */
div.content {
	width:650px;
	float:left;
	margin:0 auto;
	margin: 0 0px 0 150px;
}


/* sidebar */
div.sidebar {
	width:12%;
	float:left;
	background:#ffffff;

}
div.sidebar ul {
	list-style:none;
	padding:10px 10px 25px 10px;
}
div.sidebar ul li {
	padding:7px 0;
}
div.sidebar ul li a {
	font-family:Georgia, "Times New Roman", Times, serif;
	text-decoration:none;
	font-size:1.1em;
}

/* footer */
div.footer {
	clear:both;
	margin-top:100px;
	border-top:1px solid #c6c6c6;
	background:#063A4B;
	/* background-image: url('images/bgpage1.gif') scroll bottom left;*/
	height:20px;
	width:100%;
	margin:0 auto;
}
div.footer p {
	text-align:center;
	color:#666666;
	padding-top:30px;
	font-size:0.9em;
	font-family:"Trebuchet MS", Verdana, Arial;
}
div.footer p a {
	color:#666666;
}

/* search form */
form.searchform {
	padding-top:10px;
}


/* misc classes */
*:focus {
	outline:none;
}
.clear {
	clear:both;
}
